<!DOCTYPE html>
<html lang="en" dir="ltr">
      <%- include ('./partials/head.ejs') %>
  <body>
    <div class = "container-fluid">
    <nav>
      <%- include ('./partials/nav.ejs') %>
    </nav>
      <div class="text-center">
        <div class="card" style="width: 40em; height: 40em">
        <img src="<%=items.img%>" class="rounded" alt=<%=items.name%>>
          <div class="card-body">
            <h2 class = "card-title"><%=items.name%></h2>
            <p class="card-text">
              <h6>Description: <%=items.description%></h6>
              <h6>Quantity: <%=items.qty%></h6>
                  <% if(items.owned === true) {%>
                    You own this item
                  <% } else { %>
                    You don't own this item
                  <%}%> </p>
                  <a href="/collections" class="btn btn-primary">Back to Collections </a>
            </div>
        </div>
      </div>
  </body>
</html>
