<!DOCTYPE html>
<html lang="en" dir="ltr">
      <%- include ('./partials/head.ejs') %>
  <body>
    <div class = "container-fluid">
    <nav>
      <%- include ('./partials/nav.ejs') %>
    </nav>
      <div class="text-center">
    <h1>This IS SHOW PAGE</h1>
    <h2><%=items.name%></h2>
        <img src="<%=items.img%>" class="rounded" alt=<%=items.name%>>

    <h3>Quantity: <%=items.qty%></h3>
    <% if(items.owned === true) {%>
      You own this item
    <% } else { %>
      You don't own this item
    <%}%>
      </div>
      <nav>
        <a href="/collections"> Back to Collections </a>
      </nav>
    </div>
  </body>
</html>
